---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Footer from "../components/Footer.astro";
import GrainyGradients from "../components/GrainyGradients.astro";
import darkTheme from "./20231006-dark_theme.jpg";
import kininaruDevops from "./20231120-kininaru_devops.jpg";

const allWorks = await getCollection("works");
---

<GlobalLayout>
  <GrainyGradients />
  <div
    class="grid grid-cols-[theme('width.2')_1fr_minmax(0,theme('width.60'))_1fr_theme('width.2')] gap-y-4 sm:grid-cols-[theme('width.4')_1fr_minmax(0,theme('width.80'))_1fr_theme('width.4')] sm:gap-y-10 md:grid-cols-[theme('width.8')_1fr_minmax(0,theme('width.content'))_1fr_theme('width.8')] md:gap-y-16 lg:grid-cols-[theme('width.16')_1fr_minmax(0,theme('width.content'))_1fr_theme('width.16')]"
  >
    <div
      id="above-the-fold"
      class="col-start-2 col-end-5 flex h-screen flex-col gap-y-5 pb-3 pt-2 sm:gap-y-6 sm:pb-4 sm:pt-3 md:gap-y-10"
    >
      <header
        class="flex flex-wrap items-center justify-between gap-x-3 text-xs font-bold"
      >
        <span>デザイン ポートフォリオ</span>
        <hr class="flex-grow border-zinc-300" />
        <span>ユーザーインターフェース / マークアップ / グラフィック</span>
      </header>
      <div class="relative flex flex-grow flex-col justify-between">
        <section class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-6">
          <h1>
            <ruby
              class="grid gap-y-2 text-[calc((100vw-2*theme('width.2'))/4)] leading-none sm:text-[calc((100vw-2*theme('width.4'))/4)] md:gap-y-4 md:text-[calc((100vw-2*theme('width.8'))/6)]"
              ><span class="font-bold">綿貫佳祐</span><rp>(</rp><rt
                class="flex text-[calc(1em/3)] font-bold">Keisuke Watanuki</rt
              ><rp>)</rp></ruby
            >
          </h1>
          <div class="flex flex-col items-start gap-y-3 lg:gap-y-5">
            <p
              class="w-full text-sm sm:w-[calc((100vw-2*theme('width.4'))*0.75)] md:w-[calc((100vw-2*theme('width.8'))*0.5)] lg:text-md"
            >
              デジタルプロダクトのデザイナーです。理想に向き合い、言語化し、視覚化するプロセスを重視しています。意匠の良し悪しだけでなく、データの構造や使用時の心地よさなども考慮に入れてものづくりをします。
            </p>
            <div class="flex gap-x-2 lg:gap-x-3">
              <a
                href="/about-me"
                class="rounded-sm bg-zinc-700 px-2 py-1 text-sm font-bold text-zinc-50 transition-colors hover:bg-zinc-900 lg:px-5 lg:py-2 lg:text-md"
                >私について</a
              >
              <a
                href="/about-portfolio"
                class="rounded-sm border border-zinc-700 bg-transparent px-2 py-1 text-sm font-bold transition-colors hover:border-zinc-900 hover:bg-zinc-100 lg:px-5 lg:py-2 lg:text-md"
                >このポートフォリオについて</a
              >
            </div>
          </div>
        </section>

        <span
          id="scroll-guide"
          class="fixed bottom-5 flex items-center gap-2 text-xs"
        >
          <svg width="18" height="25" viewBox="0 0 18 25">
            <defs>
              <symbol id="arrow">
                <path
                  d="M1 0l-1 1c3 1 7 4 9 6c2 -2 6 -5 9 -6l-1 -1c-4 1 -8 4 -8 4c0 0 -4 -3 -8 -4Z"
                >
                  <animateMotion
                    dur="4s"
                    repeatCount="indefinite"
                    path="M0 0 V18"></animateMotion>
                </path>
              </symbol>
            </defs>
            <use href="#arrow" y="-18"></use>
            <use href="#arrow" y="-9"></use>
            <use href="#arrow" y="0"></use>
            <use href="#arrow" y="9"></use>
            <use href="#arrow" y="18"></use>
          </svg>
          下へスクロール
        </span>
        <div class="absolute bottom-0 right-0 flex flex-col">
          <a
            href="https://twitter.com/xrxoxcxox"
            class="rounded-sm p-2 transition-colors hover:bg-slate-50"
            title="X (Twitter)"
          >
            <img src="/logo-x.svg" alt="" class="w-4" />
          </a>
          <a
            href="https://www.instagram.com/xrxoxcxox"
            class="rounded-sm p-2 transition-colors hover:bg-slate-50"
            title="Instagram"
          >
            <img src="/logo-instagram.svg" alt="" class="w-4" />
          </a>
          <a
            href="https://twitter.com/xrxoxcxox"
            class="rounded-sm p-2 transition-colors hover:bg-slate-50"
            title="GitHub"
          >
            <img src="/logo-github.svg" alt="" class="w-4" />
          </a>
        </div>
      </div>
    </div>
    <section
      id="works"
      class="col-start-3 col-end-4 grid grid-cols-4 flex-col gap-4"
    >
      <h2 class="col-span-full text-3xl font-bold">制作物</h2>
      {
        allWorks
          .sort(
            (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
          )
          .map((work) => (
            <a
              href={`${work.collection}/${work.slug}`}
              class="col-span-full grid gap-1 md:col-span-2"
            >
              <Image
                src={work.data.cover}
                alt=""
                class="rounded-sm"
                transition:name={`${work.slug}Image`}
              />
              <h3 class="text-md">{work.data.title}</h3>
            </a>
          ))
      }
    </section>
    <section
      id="blog"
      class="col-start-3 col-end-4 grid grid-cols-4 flex-col gap-4"
    >
      <h2 class="col-span-full text-3xl font-bold">記事</h2>
      <a
        href="https://qiita.com/xrxoxcxox/items/9fac826a2e1c8526aa50"
        class="col-span-full grid gap-1 md:col-span-2"
        target="_blank"
      >
        <Image src={darkTheme} alt="" class="rounded-sm" />
        <h3 class="text-md">12 年続くサービスにダークテーマ UI を導入した</h3>
      </a>
      <a
        href="https://qiita.com/xrxoxcxox/items/1c9e626f28a2798fdc21"
        class="col-span-full grid gap-1 md:col-span-2"
        target="_blank"
      >
        <Image src={kininaruDevops} alt="" class="rounded-sm" />
        <h3 class="text-md">デザインデータとコードを一体のものとして捉える</h3>
      </a>
    </section>
    <div class="col-start-2 col-end-5">
      <Footer />
    </div>
  </div>
</GlobalLayout>

<script>
  const scrollGuideObserverOptions = {
    root: null,
    rootMargin: "24px",
    threshold: 1,
  };

  function scrollGuideObserverCallback(entries: IntersectionObserverEntry[]) {
    const scrollGuide = document.getElementById("scroll-guide");
    if (!scrollGuide) return;
    entries.forEach((entry: { isIntersecting: boolean }) => {
      if (entry.isIntersecting) {
        scrollGuide.style.opacity = "1";
      } else {
        scrollGuide.style.opacity = "0";
        scrollGuide.style.transition = "opacity 300ms ease-in-out";
      }
    });
  }

  const scrollGuideObserver = new IntersectionObserver(
    scrollGuideObserverCallback,
    scrollGuideObserverOptions,
  );

  function toggleScrollGuideVisibility() {
    const observationTarget = document.getElementById("above-the-fold");
    if (!observationTarget) return;
    scrollGuideObserver.observe(observationTarget);
  }

  toggleScrollGuideVisibility();

  document.addEventListener("astro:after-swap", toggleScrollGuideVisibility);
</script>
